//Colors
$main-txt-color: #003326;
$sec-txt-color: #00cc99;
$thd-txt-color: aliceblue;
$main-ground-color: #001a13;
$sec-ground-color: #00b386;

//Fonts
$main-font: "Work Sans";

//Quries
$extra-small: 91.66%;
$small: 83.33%;
$medium: 75%;
$large: 66.66%;
$extra-large: 58.33%;
