@import 'style.scss';

// body {
//     background-color: blue;
// }

header {
    & #head-icons {
        width: $extra-large;
        margin-left: calc((100% - $extra-large) / 2);
        margin-right: calc((100% - $extra-large) / 2);
    }
}

#projects-header-background {

    & #projects-background-layer {
        
        & #layer-box {
            width: $extra-large;
            margin-left: calc((100% - $extra-large) / 2);
            margin-right: calc((100% - $extra-large) / 2);
            padding-left: 60px;
        }
    }
}

#sponsers-header-background {

    & #sponsers-background-layer {
        
        & #title-layer {
            width: $extra-large;
            margin-left: calc((100% - $extra-large) / 2);
            margin-right: calc((100% - $extra-large) / 2);
            padding-left: 60px;

        }
    }
}

#intro-section {
    height: 360px;
    flex-direction: row;

    & .advantage-block {
        padding: 30px 5px;
        height: 100%;
    }
    
    & p {
        margin: 0px 10px 30px;
    }
}

#services-section {
    margin-bottom: 60px;

    #services-back {
        right: 11%;
        display: none;
    }

    #services-blocks {
        height: 400px;
        width: $large;
        margin-left: calc((100% - $large) / 2);
        margin-right: calc((100% - $large) / 2);
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: repeat(3, 33.334%);
        grid-template-areas:
        'B1 B2 B5'
        'B3 B4 B5';
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        //background-color: inherit;

        & .service-block {
            padding: 20px 5px;

            & p {
                padding-bottom: 10px;
            }
        }

        & .service-block:nth-of-type(1) {
            grid-area: B1;
        }

        & .service-block:nth-of-type(2) {
            grid-area: B2;
        }

        & .service-block:nth-of-type(3) {
            grid-area: B3;
        }

        & .service-block:nth-of-type(4) {
            grid-area: B4;
        }

        & #img-block {
            grid-area: B5;
            display: block;
            position: relative;
            
            & #img-window {
                position: relative;
                z-index: 10;
                padding-left: 10px;

                & img {
                    width: 85%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        
            & #img-block-back {
                position: absolute;
                background-color: $main-ground-color;
                width: 70px;
                height: 115%;
                top: -27px;
                right: 2%;
                z-index: 5;
            }
        }
    }
}

#portfolio-section {
    
    & #projects-blocks {
        @extend %body-decoration;
        flex-direction: row;
        margin-top: 40px;
        margin-bottom: 20px;

        & .project-block {
            height: 300px;
            width: 33%;
            padding: 0px 10px;
            margin-bottom: 10px;
        }
    }
}

#about-section {
    margin-bottom: 30px;

    #about-content {
        width: $small;
        margin-left: calc((100% - $small) / 2);
        margin-right: calc((100% - $small) / 2);
        height: 350px;
        flex-direction: row;

        & #image-side {
            width: 51%;
            padding-top: 30px;
            margin-bottom: 20px;
            position: relative;
            z-index: 10;

            & #image-back {
                display: block;
                position: absolute;
                z-index: -1;
                width: 50px;
                height: 190px;
                top: 0px;
                right: -20px;
                background-color: $sec-txt-color;
            }

            & #image-back::after {
                content: '';
                position: absolute;
                height: 50px;
                width: 100px;
                bottom: 0px;
                right: -40px;
                background-color: $sec-txt-color;

            }
        }

        & #text-side {
            width: 44%;
            height: 80%;
            padding-top: 0px;
            padding-left: 50px;
        }
    }

    & #about-content::before {
        width: 0px;
    }
    
    & #about-content::after {
        width: 0px;
    }
}

.projects-page-content {
    
    & #sec-one {
        height: 340px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        & #project-view {
            margin-top: 25px;
            padding-right: 40px;

            & #intro {
                line-height: 1.5;
            }

            & #notes {
                font-size: 0.7rem;
                line-height: 1.5;
            }

            & #notes::before {
                top: -20px;
            }
        }

        & #project-card {
            width: 45%;
            padding-left: 12px;
        }
    }

    & #sec-two {
        @extend %project-page;
        margin-bottom: 100px;
    }

    & #sec-three,
    & #sec-four {
        @extend %project-page;

        .meeting {
            height: 250px;
            margin-bottom: 120px;
            flex-direction: row;
            justify-content: center;

            & .image-container {
                width: 50%;
            }

            & p {
                width: 50%;
                margin-top: 0px;
                padding: 0px 10px 0px 30px;
                line-height: 1.4;
                font: {
                    size: 0.7rem;
                    weight: 300;
                }
            }
        }
    }

    & #sec-four {

        & .meeting {
            & .image-container {
                order: 2;
            }
            & p {
                order: 1;
                padding: 0px 30px 0px 10px;
            }
        }
    }
    
}



.sponsers-page-content {
    margin-top: 60px;

    & .sponser-block {
        margin-bottom: 60px;

        & h2 {
            bottom: -15px;
            right: 0px;
            font-size: 4.4rem;
        }
    }
}

%project-page {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#contact-section {
    height: 440px;

    & #contact-content {    
        width: $large;
        margin-left: calc((100% - $large) / 2);
        margin-right: calc((100% - $large) / 2);

        & h3 {
            font-size: 2rem;
        }
        
        & p:first-of-type {
            margin-left: 35px;

            & a {
                font-size: 1.7rem;
            }
        }

        & #social {
            margin-left: 25px;

            & p {
                font-size: 0.85rem;
            }
        }
    }
}

%body-decoration {
    width: $large;
    margin-left: calc((100% - $large) / 2);
    margin-right: calc((100% - $large) / 2);
}