extends main.pug
block pageHeader
 #projects-header-background
  #projects-background-layer
   #layer-box
    h5 branding/ideas
    h1 branding stationary project
block pageBody
 .projects-page-content
  section#sec-one 
   #project-view 
    #intro 
     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem in iusto dolor, alias at molestias quaerat placeat numquam aliquid velit?
    #notes
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quo vero pariatur ipsum similique expedita corporis labore, minima debitis nemo.
   #project-card
    h5 Category 
    p Branding/Ideas 
    h5 Author
    p GraphBerry 
    h5 Year 
    p
     span#current-year 2024
  section#sec-two 
   img(src="../IMAGES/Projects Page Pics/edi-kurniawan-Mq4wJuX1-OQ-unsplash_6000x3376.jpg" alt="projects-page-sample")
  section#sec-three 
   .meeting 
    .image-container
     img(src="../IMAGES/Projects Page Pics/azmi-hidayat-0lz_N1XLHAw-unsplash_5184x3456.jpg" alt="project-sample")
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, amet nobis sed eius harum possimus ad labore delectus vero est esse voluptatibus voluptatem! Animi quas a, veniam sit minus non?
  section#sec-four
   .meeting 
    .image-container
     img(src="../IMAGES/Projects Page Pics/musemind-ux-agency-TcvZEb8cSJI-unsplash_6240x4160.jpg" alt="project-sample")
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus error, dolorum odio enim eaque, quia aspernatur labore harum excepturi obcaecati similique fugiat, unde eligendi necessitatibus voluptate deleniti ab. Nulla, expedita. 
